.bg-cover {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
}

.bg-cover-mask {
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* NAVIGATOR */

.navigator {
    margin: 0 0 0 0;
    padding: 28px 20px 0px;
}

.navigator-center {
    width: 68%;
    height: 88px;
    margin: auto;
    text-align: center;
}

.navigator-box {
    background: #233E99;
    border-radius: 50px;
    color: white;
}

.btn-login {
    max-width: 100px;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: white;
}

.btn-login:hover {
    color: #BFD7ED;
    border-color: #BFD7ED;
}


/* ISI-UTAMA */

.konten-utama {
    width: 90vh;
    min-width: 680px;
    margin: 200px auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.text-utama {
    font-size: 50px;
    font-family: 'Poppins-light', 'Poppins';
    color: white;
}

.button-utama {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Poppins-semibold', 'Poppins';
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #233E99;
    border-radius: 50px;
    border-style: none;
    padding: 0.375rem 3rem;
}

.button-utama:hover {
    background-color: #2545b0;
}


/* HEADER FITUR */

.fitur-head {
    padding: 50px 10px 0px 10px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.head-text {
    font-family: 'Poppins-bold', 'Poppins';
    font-size: 36px;
    color: #0074B7;
}

.fitur-navigator {
    background-color: #BFD7ED;
    border-radius: 50px;
    margin: 20px auto;
    width: 80%;
}

#pills-konsultasi-tab,
#pills-self-care-tab,
#pills-forum-tab,
#pills-podcast-tab {
    border-radius: 50px;
}

.nav>li>a {
    color: #233E99;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #233E99;
    border-radius: 50px;
}

.fitur-card {
    max-width: 1000px;
    margin: 0px auto;
    border-radius: 40px;
    height: fit-content;
    border-style: none;
    font-family: 'Poppins-light';
    overflow: hidden;
}

.img-konsultasi {
    width: 100%;
    height: 100%;
    background-image: url('konsultasi.jpg');
    background-position: center center;
    background-repeat: repeat;
}

.img-konsultasi img {
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
}

.konsultasi-head {
    font-family: 'Poppins-bold';
    text-align: center;
    vertical-align: middle;
    color: #233E99;
    margin-bottom: 20px;
}

.box-deskripsi-konsultasi {
    margin-left: 30px;
}

.box-btn-konsultasi {
    margin-top: 20px;
    vertical-align: bottom;
    text-align: center;
    height: 80%;
}

.btn-fitur-konsultasi {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Poppins-semibold', 'Poppins';
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #233E99;
    border-radius: 50px;
    border-style: none;
    padding: 0.375rem 3rem;
}

.btn-fitur-daftar-biro {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins-light', 'Poppins';
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    color: #233E99;
    background: none;
    border-radius: 50px;
    border-style: none;
    padding: 0.375rem;
}


/* ABOUT */

.about-head {
    padding: 50px 10px 0px 10px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}


/* FOOTER */

.foot {
    background: #233E99;
    margin: 0;
    padding: 0;
    width: 100%;
}