.bg-cover {
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: top center;
    padding-left: 0;
    padding-right: 0;
}

.bg-cover-mask {
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}

.bg-cover .konten-utama {
    position: relative
}

@media (min-width: 1024px) {
    .bg-cover {
        background-attachment: fixed;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* NAVIGATOR */

.navigator {
    transition: 0.5s ease;
    margin: 0 0 0 0;
    padding: 28px 20px 0px;
    height: fit-content;
}

.navigator-center {
    width: 68%;
    height: fit-content;
    margin: auto;
    text-align: center;
    transition: 0.5s ease;
}

.navigator-box {
    background: #233E99;
    border-radius: 50px;
    color: white;
    transition: 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-login {
    max-width: 100px;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: rgb(255, 255, 255, 0.2);
}

.btn-login:hover {
    color: white;
    border-color: #BFD7ED;
}

.btn-login-minimize {
    padding: 0px 12px;
    height: 30px;
    margin: 5px 0px;
}

.logo-login-minimize {
    height: 30px;
    transition: 0.5s;
}

.navigator-box-minimize {
    height: fit-content;
}

.toggler-height-minimize {
    max-height: 30px;
}

.icon-toggler-minimize {
    height: 15px;
}


/* ISI-UTAMA */

.konten-utama {
    width: 90vh;
    min-width: 680px;
    margin: 300px auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.text-utama {
    font-size: 50px;
    font-family: 'Poppins-light', 'Poppins';
    color: white;
}

.button-utama {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Poppins-semibold', 'Poppins';
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #233E99;
    border-radius: 50px;
    border-style: none;
    padding: 0.375rem 3rem;
    text-decoration: none;
}

.button-utama:hover {
    background-color: #2545b0;
    color: white;
}


/* FITUR */

.fitur-head {
    padding: 200px 10px 0px 10px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.head-text {
    font-family: 'Poppins-bold', 'Poppins';
    font-size: 36px;
    color: #0074B7;
}

.fitur-navigator {
    background-color: #BFD7ED;
    border-radius: 50px;
    margin: 20px auto;
    width: 80%;
}

#pills-konsultasi-tab,
#pills-self-care-tab,
#pills-forum-tab,
#pills-podcast-tab {
    border-radius: 50px;
}

.nav>li>a {
    color: #233E99;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #233E99;
    border-radius: 50px;
}

.fitur-card {
    max-width: 1000px;
    margin: 0px auto;
    border-radius: 40px;
    height: fit-content;
    border-style: none;
    font-family: 'Poppins-light';
    overflow: hidden;
}

.img-konsultasi {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: repeat;
}

.img-konsultasi img {
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
}

.konsultasi-head {
    font-family: 'Poppins-bold';
    text-align: center;
    vertical-align: middle;
    color: #233E99;
    margin-bottom: 20px;
}

.pos-middle {
    margin-top: 150px;
}

.box-deskripsi-konsultasi {
    margin-left: 30px;
}

.box-btn-konsultasi {
    margin-top: 20px;
    vertical-align: bottom;
    text-align: center;
    height: 80%;
}

.btn-fitur-konsultasi {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Poppins-semibold', 'Poppins';
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #233E99;
    border-radius: 50px;
    border-style: none;
    padding: 0.375rem 3rem;
    text-decoration: none;
    cursor: pointer;
}

.btn-fitur-konsultasi:hover {
    background-color: #2545b0;
    color: white;
}

.btn-fitur-daftar-biro {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins-light', 'Poppins';
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    color: #233E99;
    background: none;
    border-radius: 50px;
    border-style: none;
    padding: 0.375rem;
    text-decoration: none;
    cursor: pointer;
}


/* PILIH BIRO MODAL */

.isi-biro .card-header {
    text-align: center;
    font-family: 'Poppins-bold', 'Poppins';
    cursor: pointer;
    background-color: #2545b0;
    color: #ffffff;
}

.isi-biro .card-header button {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
}

.isi-biro .card-header button:focus {
    box-shadow: none;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .head h3 {
    font-family: 'Poppins-bold', 'Poppins';
    font-size: 36px;
    color: #0074B7;
    margin-bottom: 30px;
}

.about .head p {
    font-family: 'Poppins';
}

.about .icon-boxes h4 {
    font-size: 18px;
    color: #4b7dab;
    margin-bottom: 15px;
}

.about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #0074B7;
    margin-bottom: 15px;
}

.about .icon-box {
    margin-top: 40px;
}

.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #8dc2f1;
    border-radius: 50px;
    transition: 0.5s;
}

.about .icon-box .icon i {
    color: #1977cc;
    font-size: 32px;
}

.about .icon-box:hover .icon {
    background: #1977cc;
    border-color: #1977cc;
}

.about .icon-box:hover .icon i {
    color: #fff;
}

.about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}

.about .icon-box .title a:hover {
    color: #1977cc;
}

.about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

.about .video-box {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/about.jpg") center center no-repeat;
    background-size: cover;
    min-height: 400px;
}

.about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.about .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(25, 119, 204, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
    border-left: 15px solid #1977cc;
    transform: scale(20);
}

.about .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


/* FOOTER */

.foot {
    background: #233E99;
    margin: 0;
    padding: 0;
    width: 100%;
}

.foot .logo {
    margin-left: 30px;
}

.foot .contact {
    margin-right: 60px;
    margin-top: 10px;
    padding-left: 0px;
    border-radius: 0;
    border-style: none;
    background-color: #233E99;
    color: white;
    width: 100%;
}

.foot ul {
    list-style-type: none;
    text-align: left;
}

.foot a {
    text-decoration: none;
    font-size: 12px;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1977cc;
    border-top-color: #d1e6f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #1977cc;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #298ce5;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.datepicker-dropdown {
    padding: 20px !important;
}